.button {
  width: 100px;
  background-color: var(--background-color);
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  color: var(--text-color-p);
}

.active {
  background-color: var(--text-color-p);
  color: var(--background-color);
}

.logo {
  flex: 1;
  font-size: 2.5rem;
  color: var(--text-color-p);
}
