@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-p: rgba(0, 6, 9, 1);
  --text-color-s: rgba(255, 249, 240, 1);
  --background-color: rgba(255, 249, 240, 1);
}

body {
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color-p);
  border-radius: 5px;
}
