@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-p: #fbf1ec;
  --text-color-s: #73635b;
  --background-color: #73635b;
}

body {
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e433f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
